<h1>Listing assignments</h1>

<table>
  <tr>
    <th>Assignment date</th>
    <th>Student</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @assignments.each do |assignment| %>
  <tr>
    <td><%= assignment.assignment_date %>
    <td><%= Student.find(assignment.student_id).name %>
    <td><%= Project.find(assignment.project_id).name %></td>
    <td><%= link_to 'Show', assignment %></td>
    <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
    <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Assignment', new_assignment_path %>
