<p id="notice"><%= notice %></p>

<p>
  <b>Assignment</b>
  <%= @assignment.assignment_date %> - <%= Student.find(@assignment.student_id).name %> - <%= Project.find(@assignment.project_id).name %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
